* text=auto

*.html text working-tree-encoding=UTF-8 eol=crlf
*.css text working-tree-encoding=UTF-8 eol=crlf
*.js text working-tree-encoding=UTF-8 eol=crlf
*.jsx text working-tree-encoding=UTF-8 eol=crlf
*.xml text working-tree-encoding=UTF-8 eol=crlf
*.md text working-tree-encoding=UTF-8 eol=crlf

*.json text working-tree-encoding=UTF-8 eol=crlf
*.psd binary
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.tiff binary
*.webp binary
